.ipynb_checkpoints/
LifeStyleDesign_hand.xlsx
__pycache__/
avg_salaries.csv
city_incomes_taxes
city_incomes_taxes.xlsx
city_matrix
city_matrix.xlsx
citydf
citydf.xlsx
cost_of_living.xlsx
glassdoor_salaries
glassdoor_salaries.xlsx
net_monthly
net_monthly.xlsx
net_monthly_slim
net_monthly_slim.xlsx
salaries_df
salaries_df.xlsx
~$LSD.xlsx
Meetup_API.ipynb
hidden.py